<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Portafolio.la</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
		<header>    
			<nav>
				<ul>
					<li>
						<a href="#yo">Yo</a>
					</li>
					<li>
						<a href="#perfil">Perfil</a>
					</li>
					<li>
						<a href="#trabajo">Trabajo</a>
					</li>
					<li>
						<a href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure>
				<img src="avatar.jpg" alt="Imagen Personal"/>
				<figcaption>
					<a href="http://twitter.com/soptecpe" target="_blank">@soptecpe</a>
				</figcaption>
			</figure>
		</header>
		<section>
			<h2>Mi Perfil</h2>
			<p>
				Hola este es mi portafolio con mis trabajos, contactame
			</p>
			<a href="http://twitter.com/soptecpe" target="_blank">@soptecpe</a>
			<a href="http://facebook.com/soptecpe" target="_blank">Alex Peralta</a>
			<a href="http://github.com/alexperalta" target="_blank">Alex Peralta</a>
		</section>
		<section>
			<h2>Mi Trabajo</h2>
			<article>
				<figure>
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption>Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption>Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption>Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption>Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption>Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption>Website de Alex Peralta</figcaption>
				</figure>
			</article>
		</section>
		<footer>
			<h3>Contacto</h3>
			<p>Si tienes una sugerencia o quieres trabajar conmigo llena el siguiente formulario</p>
			<form>
				<input type"text" placeholder="Nombre"/>
				<input type"email" placeholder="Email"/>
				<textarea placeholder="Motivo"></textarea >
				<button type="submit">Enviar</button>
			</form>
		</footer>
    </body>
</html>
