<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Portafolio.la</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
    </head>
    <body>
		<header id="yo" class="Header">    
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MaunMenu-item">
						<a class="MainMenu-link" href="#yo">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>

			</nav>
			<figure class="Header-ImageContainer">
				<img src="avatar.jpg" alt="Imagen Personal" class="Header-Image"/>
				<figcaption class="Header-ImageDescription">
					<a class="Header-Link" href="http://twitter.com/soptecpe" target="_blank">@soptecpe</a>
				</figcaption>
				<p class="Header-Name">Alex Peralta</p>
			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title u-title">Mi Perfil</h2>
			<p class="Profile-description">
				Hola este es mi portafolio con mis trabajos, contactame
			</p>
			<a class="Profile-Link" href="http://twitter.com/soptecpe" target="_blank">@soptecpe</a>
			<a class="Profile-Link" href="http://facebook.com/soptecpe" target="_blank">Alex Peralta</a class="Profile-Link">
			<a class="Profile-Link" href="http://github.com/alexperalta" target="_blank">Alex Peralta</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Mi Trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption class"Work-Description">Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption class"Work-Description">Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption class"Work-Description">Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption class"Work-Description">Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption class"Work-Description">Website de Alex Peralta</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img src="mejorandoka.jpg" alt="Descripcion de mi imagen">
					<figcaption class"Work-Description">Website de Alex Peralta</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo llena el siguiente formulario</p>
			<form class="Footer-form">
				<input class="Footer-formInput" type"text" placeholder="Nombre"/>
				<input class="Footer-formInput" type"email" placeholder="Email"/>
				<textarea class="Footer-textarea"placeholder="Motivo"></textarea >
				<button type="submit" class="Footer-button">Enviar</button>
			</form>
		</footer>
    </body>
</html>
